name: Build, Test & SonarCloud Scan

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:

  tests:
    name: Run Unit Tests with Coverage
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install pytest-cov httpx

      - name: Clean pyc files
        run: find src/ -name "*.pyc" -delete

      - name: Run pytest with coverage
        env:
          PYTHONPATH: ./src
        run: |
          pytest --cov=src --cov-report=xml --cov-report=term-missing src/tests

  sonarqube:
    name: SonarCloud Scan
    runs-on: ubuntu-latest
    needs: tests   # Waits for tests to finish

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Clean pyc files
        run: find src/ -name "*.pyc" -delete

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectBaseDir=.
            -Dsonar.python.coverage.reportPaths=coverage.xml
